.icon {
    font-size: 18px;
    margin-left: 5px;
    display: inline-flex;
    align-items: center;
    margin-right: 5px;
}

.icon_size_big {
    font-size: 24px;
}

.icon_size_huge{
    font-size: 48px;
    border: 2px solid var(--blue);
    border-radius: 50%;
    padding: 20px;
}

.icon_color_red {
    color: var(--red);
}

.icon_color_green {
    color: var(--green);
}

.icon_color_blue {
    color: blue;
}