.dashboard{
    height: 100%;
    display: flex;
    color: var(--text-dark);
}

.dashboard__content{
    width: 100%;
    background-color: var(--background-light);
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.dashboard__name{
    height: 90px;
    flex-shrink: 0;
    font-size: 30px;
    padding-left: 30px;
    display: flex;
    align-items: center;
    color: var(--background-light);
    background-color: var(--blue);
}

.dashboard__logo{
    position: absolute;
    height: 90px;
    width: 180px;
    top: 25px;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}