.competitors{
    padding: 30px;
    overflow: auto;
    background-color: var(--text-dark);
    color: var(--white);
    height: 100%;
}

.comp{
    padding: 0 15px 0 0;
    height: 90px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    background-color: var(--text-light);
    position: relative;
}

.comp__logo-container{
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.comp__logo{
    width: 60px;
    height: 60px;
    background-position: center center;
    background-size: contain;
    border-radius: 50%;
    background-image: url(https://d31kswug2i6wp2.cloudfront.net/fallback/company/medium_logo_default.png);
}

.comp:hover .comp__name{
    color: var(--main);
}

.comp__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.comp__link{
    display: flex;
    align-items: center;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: var(--white-dark);
    transition-property: color;
    transition-duration: 250ms;
}

.comp__link:hover{
    color: var(--white);
}

.comp__name{
    font-size: 20px;
    margin-bottom: 5px;
    transition-property: color;
    transition-duration: 250ms;
}

.comp__business{
    font-size: 16px;
    color: var(--white-dark);
}

.comp__address{
    font-size: 14px;
    color: var(--white-dark);
}