.stat {
    height: 100%;
    width: 100%;
    background-color: var(--text-dark);
    color: var(--white);
    overflow: auto;
}

.counters {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--text-light);
    height: 135px;
}

.counter {
    width: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.counter:hover .counter__val {
    color: var(--main);
}

.counter__val {
    display: flex;
    align-items: center;
    font-size: 30px;
    transition-property: color;
    transition-duration: 250ms;
}

.counter__unit {
    color: var(--white-dark);
    font-size: 12px;
    text-transform: uppercase;
}

.counter .icon {
    margin: 0;
}

.profiles {
    display: flex;
}

.profile {
    padding: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.profile__info {
    display: flex;
    margin-bottom: 5px;
    align-items: baseline;
}

.profile__prop {
    font-size: 12px;
    color: var(--white-dark);
    margin-right: 10px;
}

.profile__val{
    font-size: 14px;
}

.profile__image{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 2px solid white;
    margin-bottom: 20px;
    background-position: center center;
    background-size: contain;
}

.caption{
    color: var(--main);
    font-size: 18px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chart-container{
    height: 400px;
    overflow: auto;
}